@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
* {font-family: "Madimi One", sans-serif;
    margin: 0;
  }
  

#inicio-p{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;
    background-repeat: no-repeat;
    background-size: cover;

    
}

#inicio-p > h1{
    color: #542832;
    font-size: 3rem;
    margin-left: 0vh;
    margin-bottom: 70vh;
}

#linea2{
    width: 90px;
    height: 4px;
    background-color: #FFC14E;
}